<div class="container">
  <h3 class="center-align">About me</h3>
  <hr>
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/mom-about.jpg">
            
          </div>
        </div>
      </div>

      <div class="col s8">
        <div class="card green lighten-4">
          <div class="card-content text-green darken-4">
            <p>I am a free spirit that enjoys finding humor in intense situations. I will be one of the first to laugh at myself and my idiocracies and if you dont like the way i am living you can just leave this long haired country girl alone</p>
            <br>
            <p>live gracefully, laugh fully, love thoughtfully, dance passionately! "love lives in happy hearts... happy hearts livenjoy"</p>
          </div>
        </div>
      </div>
    </div>
</div>