<div class="container">
	<h3 class="center-align">Contact me</h3>
	<hr>
	<div class="row">
		<div class="col s6">
			<div class="card blue-grey darken-1 white-text center-align">
				<div class="card-content">
					<h5>Feel free to reach out to me!</h5>
				</div>

				<br>

				<h5>Location:</h5>

				<p class="contact">I'm constantly on the move, but Utah for now!</p>

				<br>
				<br>

				<h5 class="contact">Phone</h5>

				<p class="contact"><%= number_to_phone "8016284415" %></p>
				<br>
				<br>
				<h5>E-mail</h5>
				<div class="email">
					<h5><a href="mailto:concrazy88@gmail.com?subject=PortfolioContact" "email me">concrazy88@gmail.com</a> </h5>
				</div>
				<br>
			</div>
		</div>

		<div class="col s6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153325.5702040833!2d-113.7906133707899!3d39.482441087491814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874c6bc78f13f9cd%3A0xbddf4aa56cd7463f!2sUtah!5e0!3m2!1sen!2sus!4v1494727047462" width="500" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		
	</div>
</div>