<div class="container">
  <h3 class="center-align">Gallery</h3>
  <hr>
  <br>
  <div class="row">
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy1.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy2.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy3.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy4.jpg" data-caption="Image description">
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy5.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy6.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy7.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy8.jpg" data-caption="Image description">
        </div>
      </div>
    </div>
  </div>  

    <div class="row">
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy9.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy10.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy11.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy12.jpg" data-caption="Image description">
        </div>
      </div>
    </div>
  </div>  

    <div class="row">
    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy13.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy14.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy15.jpg" data-caption="Image description">
        </div>
      </div>
    </div>

    <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <img class="materialboxed" src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy16.jpg" data-caption="Image description">
        </div>
      </div>
    </div>
  </div>  
</div>