@import "materialize";

.carousel .carousel-item {
width: 100vh !important;
height: 375px;
}

.link-text-footer a {
	color: white;
}

.login > .card {
  width: 25rem;
  margin: 50px auto;
  float: none;
}

.devise-back {
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.btn-sm {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}