<div class="container">
	<div class="carousel">
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy1.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy2.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy5.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy6.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy4.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy3.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy7.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy8.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy9.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="https://s3-us-west-2.amazonaws.com/happy-hearts-portfolio/happy10.jpg"></a>
	</div>

	<script type="text/javascript">
	      $('.carousel').carousel({
	      													duration: 300, 
	      													padding: 200, 
	      													indicators: true
	      												});
	      autoplay()
				function autoplay() {
				    $('.carousel').carousel('next');
				    setTimeout(autoplay, 4500);
				}
	</script>
</div>