<div class="container">
	<div class="carousel">
	  <a class="carousel-item" href="gallery"><img src="assets/happy1.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="assets/happy2.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="assets/happy5.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="assets/happy6.jpg"></a>
	  <a class="carousel-item" href="gallery"><img src="assets/happy7.jpg"></a>
	</div>

	<script type="text/javascript">
	      $('.carousel').carousel({
	      													duration: 300, 
	      													padding: 200, 
	      													indicators: true
	      												});
	      autoplay()
				function autoplay() {
				    $('.carousel').carousel('next');
				    setTimeout(autoplay, 4500);
				}
	</script>
</div>