<div class="container">
  <div class="row">
    <div class="col s4 m4">
      <div class="card hoverable">
        <div class="card-image materialboxed">
          <img src="assets/happy1.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit rutrum velit, facilisis tempor nisi.</p>
        </div>
        <div class="card-action teal">
          <a class="white-text" href="gallery">Check out more in my gallery</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card hoverable">
        <div class="card-image materialboxed">
          <img src="assets/happy3.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit rutrum velit, facilisis tempor nisi.</p>
        </div>
        <div class="card-action teal">
          <a class="white-text" href="gallery">Check out more in my gallery</a>
        </div>
      </div>
    </div>


    <div class="col s4 m4">
      <div class="card hoverable">
        <div class="card-image materialboxed">
          <img src="assets/happy4.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque hendrerit rutrum velit, facilisis tempor nisi.</p>
        </div>
        <div class="card-action teal">
          <a class="white-text" href="gallery">Check out more in my gallery</a>
        </div>
      </div>
    </div>
  </div>
</div>