<nav class="container">
  <div class="nav-wrapper teal">
    <a href="#!" class="brand-logo"><i class="material-icons">favorite</i>Happy Hearts Art</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="gallery"><i class="material-icons">view_module</i></a></li>
      <li><a href="about"><i class="material-icons">info_outline</i></a></li>
      <li><a href="contact"><i class="material-icons">contact_phone</i></a></li>
    </ul>
  </div>
</nav>